<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">
 --><web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">   
         
    <context-param>
    	<param-name>webAppRootKey</param-name>
    	<param-value>frms-foshan.root</param-value> 
    	<!-- <param-value>frms.root</param-value> -->
    </context-param>
    
    <welcome-file-list>
		<welcome-file>/main.html</welcome-file>
	</welcome-file-list>
	<!-- 跳转错误页面 -->
	<error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/error.jsp</location> 
	</error-page>
</web-app>
