<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycnet.frms.mapper.TnExportMapper" >
  <resultMap id="BaseResultMap" type="com.ycnet.frms.bean.TnExport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="a" property="a" jdbcType="VARCHAR" />
    <result column="b" property="b" jdbcType="VARCHAR" />
    <result column="c" property="c" jdbcType="VARCHAR" />
    <result column="d" property="d" jdbcType="VARCHAR" />
    <result column="e" property="e" jdbcType="VARCHAR" />
    <result column="f" property="f" jdbcType="VARCHAR" />
    <result column="g" property="g" jdbcType="VARCHAR" />
    <result column="h" property="h" jdbcType="VARCHAR" />
    <result column="i" property="i" jdbcType="VARCHAR" />
    <result column="j" property="j" jdbcType="VARCHAR" />
    <result column="k" property="k" jdbcType="VARCHAR" />
    <result column="l" property="l" jdbcType="VARCHAR" />
    <result column="m" property="m" jdbcType="VARCHAR" />
    <result column="n" property="n" jdbcType="VARCHAR" />
    <result column="o" property="o" jdbcType="VARCHAR" />
    <result column="p" property="p" jdbcType="VARCHAR" />
    <result column="q" property="q" jdbcType="VARCHAR" />
    <result column="r" property="r" jdbcType="VARCHAR" />
    <result column="s" property="s" jdbcType="VARCHAR" />
    <result column="t" property="t" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r,s,t,is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tn_export
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tn_export
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ycnet.frms.bean.TnExport" >
    insert into tn_export (id, a, b, c, 
      d, e, f, g, 
      h, i, j, k, 
      l, m, n, o, 
      p, q, r,s,t,is_del)
    values (#{id,jdbcType=BIGINT}, #{a,jdbcType=VARCHAR}, #{b,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR}, 
      #{d,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, #{f,jdbcType=VARCHAR}, #{g,jdbcType=VARCHAR}, 
      #{h,jdbcType=VARCHAR}, #{i,jdbcType=VARCHAR}, #{j,jdbcType=VARCHAR}, #{k,jdbcType=VARCHAR}, 
      #{l,jdbcType=VARCHAR}, #{m,jdbcType=VARCHAR}, #{n,jdbcType=VARCHAR}, #{o,jdbcType=VARCHAR}, 
      #{p,jdbcType=VARCHAR}, #{q,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR}, 
      #{s,jdbcType=VARCHAR},#{t,jdbcType=VARCHAR}#{isDel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ycnet.frms.bean.TnExport" >
    insert into tn_export
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="a != null" >
        a,
      </if>
      <if test="b != null" >
        b,
      </if>
      <if test="c != null" >
        c,
      </if>
      <if test="d != null" >
        d,
      </if>
      <if test="e != null" >
        e,
      </if>
      <if test="f != null" >
        f,
      </if>
      <if test="g != null" >
        g,
      </if>
      <if test="h != null" >
        h,
      </if>
      <if test="i != null" >
        i,
      </if>
      <if test="j != null" >
        j,
      </if>
      <if test="k != null" >
        k,
      </if>
      <if test="l != null" >
        l,
      </if>
      <if test="m != null" >
        m,
      </if>
      <if test="n != null" >
        n,
      </if>
      <if test="o != null" >
        o,
      </if>
      <if test="p != null" >
        p,
      </if>
      <if test="q != null" >
        q,
      </if>
      <if test="r != null" >
        r,
      </if>
      <if test="s != null" >
        s,
      </if>
      <if test="t != null" >
        t,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="a != null" >
        #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        #{d,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="f != null" >
        #{f,jdbcType=VARCHAR},
      </if>
      <if test="g != null" >
        #{g,jdbcType=VARCHAR},
      </if>
      <if test="h != null" >
        #{h,jdbcType=VARCHAR},
      </if>
      <if test="i != null" >
        #{i,jdbcType=VARCHAR},
      </if>
      <if test="j != null" >
        #{j,jdbcType=VARCHAR},
      </if>
      <if test="k != null" >
        #{k,jdbcType=VARCHAR},
      </if>
      <if test="l != null" >
        #{l,jdbcType=VARCHAR},
      </if>
      <if test="m != null" >
        #{m,jdbcType=VARCHAR},
      </if>
      <if test="n != null" >
        #{n,jdbcType=VARCHAR},
      </if>
      <if test="o != null" >
        #{o,jdbcType=VARCHAR},
      </if>
      <if test="p != null" >
        #{p,jdbcType=VARCHAR},
      </if>
      <if test="q != null" >
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="r != null" >
        #{r,jdbcType=VARCHAR},
      </if>
      <if test="s != null" >
        #{s,jdbcType=VARCHAR},
      </if>
      <if test="t != null" >
        #{t,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective01" parameterType="com.ycnet.frms.bean.TnExport" >
    insert into tn_export_sdh1_copy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="a != null" >
        a,
      </if>
      <if test="b != null" >
        b,
      </if>
      <if test="c != null" >
        c,
      </if>
      <if test="d != null" >
        d,
      </if>
      <if test="e != null" >
        e,
      </if>
      <if test="f != null" >
        f,
      </if>
      <if test="g != null" >
        g,
      </if>
      <if test="h != null" >
        h,
      </if>
      <if test="i != null" >
        i,
      </if>
      <if test="j != null" >
        j,
      </if>
      <if test="k != null" >
        k,
      </if>
      <if test="l != null" >
        l,
      </if>
      <if test="m != null" >
        m,
      </if>
      <if test="n != null" >
        n,
      </if>
      <if test="o != null" >
        o,
      </if>
      <if test="p != null" >
        p,
      </if>
      <if test="q != null" >
        q,
      </if>
      <if test="r != null" >
        r,
      </if>
      <if test="s != null" >
        s,
      </if>
      <if test="t != null" >
        t,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="a != null" >
        #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        #{d,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="f != null" >
        #{f,jdbcType=VARCHAR},
      </if>
      <if test="g != null" >
        #{g,jdbcType=VARCHAR},
      </if>
      <if test="h != null" >
        #{h,jdbcType=VARCHAR},
      </if>
      <if test="i != null" >
        #{i,jdbcType=VARCHAR},
      </if>
      <if test="j != null" >
        #{j,jdbcType=VARCHAR},
      </if>
      <if test="k != null" >
        #{k,jdbcType=VARCHAR},
      </if>
      <if test="l != null" >
        #{l,jdbcType=VARCHAR},
      </if>
      <if test="m != null" >
        #{m,jdbcType=VARCHAR},
      </if>
      <if test="n != null" >
        #{n,jdbcType=VARCHAR},
      </if>
      <if test="o != null" >
        #{o,jdbcType=VARCHAR},
      </if>
      <if test="p != null" >
        #{p,jdbcType=VARCHAR},
      </if>
      <if test="q != null" >
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="r != null" >
        #{r,jdbcType=VARCHAR},
      </if>
      <if test="s != null" >
        s,
      </if>
      <if test="t != null" >
        t,
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycnet.frms.bean.TnExport" >
    update tn_export20180806
    <set >
      <if test="a != null" >
        a = #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        b = #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        c = #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        d = #{d,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="f != null" >
        f = #{f,jdbcType=VARCHAR},
      </if>
      <if test="g != null" >
        g = #{g,jdbcType=VARCHAR},
      </if>
      <if test="h != null" >
        h = #{h,jdbcType=VARCHAR},
      </if>
      <if test="i != null" >
        i = #{i,jdbcType=VARCHAR},
      </if>
      <if test="j != null" >
        j = #{j,jdbcType=VARCHAR},
      </if>
      <if test="k != null" >
        k = #{k,jdbcType=VARCHAR},
      </if>
      <if test="l != null" >
        l = #{l,jdbcType=VARCHAR},
      </if>
      <if test="m != null" >
        m = #{m,jdbcType=VARCHAR},
      </if>
      <if test="n != null" >
        n = #{n,jdbcType=VARCHAR},
      </if>
      <if test="o != null" >
        o = #{o,jdbcType=VARCHAR},
      </if>
      <if test="p != null" >
        p = #{p,jdbcType=VARCHAR},
      </if>
      <if test="q != null" >
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="r != null" >
        r = #{r,jdbcType=VARCHAR},
      </if>
      <if test="s != null" >
        s = #{s,jdbcType=VARCHAR},
      </if>
      <if test="t != null" >
        t = #{t,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective2" parameterType="com.ycnet.frms.bean.TnExport" >
    update tn_export2
    <set >
      <if test="a != null" >
        a = #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        b = #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        c = #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        d = #{d,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="f != null" >
        f = #{f,jdbcType=VARCHAR},
      </if>
      <if test="g != null" >
        g = #{g,jdbcType=VARCHAR},
      </if>
      <if test="h != null" >
        h = #{h,jdbcType=VARCHAR},
      </if>
      <if test="i != null" >
        i = #{i,jdbcType=VARCHAR},
      </if>
      <if test="j != null" >
        j = #{j,jdbcType=VARCHAR},
      </if>
      <if test="k != null" >
        k = #{k,jdbcType=VARCHAR},
      </if>
      <if test="l != null" >
        l = #{l,jdbcType=VARCHAR},
      </if>
      <if test="m != null" >
        m = #{m,jdbcType=VARCHAR},
      </if>
      <if test="n != null" >
        n = #{n,jdbcType=VARCHAR},
      </if>
      <if test="o != null" >
        o = #{o,jdbcType=VARCHAR},
      </if>
      <if test="p != null" >
        p = #{p,jdbcType=VARCHAR},
      </if>
      <if test="q != null" >
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="r != null" >
        r = #{r,jdbcType=VARCHAR},
      </if>
      <if test="s != null" >
        s,
      </if>
      <if test="t != null" >
        t,
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycnet.frms.bean.TnExport" >
    update tn_export
    set a = #{a,jdbcType=VARCHAR},
      b = #{b,jdbcType=VARCHAR},
      c = #{c,jdbcType=VARCHAR},
      d = #{d,jdbcType=VARCHAR},
      e = #{e,jdbcType=VARCHAR},
      f = #{f,jdbcType=VARCHAR},
      g = #{g,jdbcType=VARCHAR},
      h = #{h,jdbcType=VARCHAR},
      i = #{i,jdbcType=VARCHAR},
      j = #{j,jdbcType=VARCHAR},
      k = #{k,jdbcType=VARCHAR},
      l = #{l,jdbcType=VARCHAR},
      m = #{m,jdbcType=VARCHAR},
      n = #{n,jdbcType=VARCHAR},
      o = #{o,jdbcType=VARCHAR},
      p = #{p,jdbcType=VARCHAR},
      q = #{q,jdbcType=VARCHAR},
      r = #{r,jdbcType=VARCHAR},
      s = #{s,jdbcType=VARCHAR},
      t = #{t,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="selectByparam" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tn_export
    where e <![CDATA[<>]]> '' 
       and f like concat('%',#{routeType,jdbcType=VARCHAR},'%')
  </select> 
  
<!--   <select id="selectByparam" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    a.a,a.b,a.c,a.d,a.e,a.f,a.g,a.h,a.i,a.j,b.b k,b.c l,b.d m,b.e n,b.f o
    FROM tn_export a
    LEFT JOIN tn_export2 b ON b.a=a.d
    where a.e <![CDATA[<>]]> '' 
       and a.f like concat('%',#{routeType,jdbcType=VARCHAR},'%')
  </select> -->
  
  <delete id="deleteByParam" parameterType="java.lang.String" >
    delete from tn_export
    where e <![CDATA[<>]]> ''  and f like concat('%',#{routeType,jdbcType=VARCHAR},'%')
  </delete>
  
   <select id="selectByparams" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tn_export
    where d <![CDATA[<>]]> '' 
  </select> 
  
<!--   <select id="selectByparams" resultMap="BaseResultMap" parameterType="java.lang.String" >
     SELECT 
    a.a,a.b,a.c,a.d,a.e,a.f,a.g,a.h,a.i,a.j,b.b k,b.c l,b.d m,b.e n,b.f o
    FROM tn_export a
    LEFT JOIN tn_export2 b ON b.a=a.d
    where a.d <![CDATA[<>]]> '' 
  </select> -->
  
   <select id="selectByRouteId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    	b.c k,b.d l,b.e m,b.f n
    from tn_export2 b
    where b.a like concat(#{routeId,jdbcType=VARCHAR},'%')
    limit 0,1
  </select>
  
  <select id="selectByRouteName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tn_export2
    where c = #{routeName,jdbcType=VARCHAR}
    limit 0,1
  </select>
  
  <select id="selectByparamByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tn_export
    where
    	is_del='0'
			<if test="routeType!=null and routeType!=''">
				 and e <![CDATA[<>]]> '' and k = #{routeType,jdbcType=VARCHAR}
			</if>
   order by id
      
  </select>
  
  
  <resultMap id="facilityAll" type="com.ycnet.frms.vo.FacilityAll">
		<id column="dev_id" property="devId" jdbcType="BIGINT"/>
		<result column="dev_name" property="devName" jdbcType="VARCHAR"/>
		<result column="dev_code" property="devCode" jdbcType="VARCHAR"/>
		<result column="dev_id1" property="devId1" jdbcType="BIGINT"/>
		<result column="dev_code1" property="devCode1" jdbcType="VARCHAR"/>
		<result column="dev_name1" property="devName1" jdbcType="VARCHAR"/>
		<result column="sec_name" property="secName" jdbcType="VARCHAR"/>
		<result column="sect_code" property="secCode" jdbcType="VARCHAR"/>
		<result column="xuHao" property="xuHao" jdbcType="BIGINT"/>
		<result column="shuLiang" property="shuLiang" jdbcType="BIGINT"/>
		<result column="bangDingId" property="bangDingId" jdbcType="BIGINT"/>
		<result column="moStat" property="moStat" jdbcType="VARCHAR"/>
		<result column="moPlace" property="moPlace" jdbcType="VARCHAR"/>
		<result column="port01" property="port01" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="labExport" resultMap="facilityAll">
		SELECT sheet1.*,CASE WHEN sheet2.zcode IS NULL THEN sheet3.acode ELSE sheet2.zcode END AS moPlace,
		CASE WHEN (sheet2.zcode IS NULL )AND (sheet3.acode IS NULL)  THEN '空闲' ELSE '占用' END  AS moStat , 
		COUNT(DISTINCT sheet1.port01) AS countS
		FROM 
		(
		SELECT a.dev_id,IFNULL(a.dev_code,"")dev_code,a.dev_name,a.dev_name1,a.dev_code1,b.sec_name,IFNULL(b.sect_code,'') AS sect_code,b.`fiber_num` AS shuLiang,tf.id bangdingId,tf.port_code1,tf.port_code2, 
		IFNULL(a.port01,'')port01,a.fiber_num AS xuHao,a.dev_id1,b.sect_id,a.area_code1 FROM (
		SELECT g.dev_id,g.dev_name,g.dev_code,a.dev_id dev_id1 ,a.dev_name dev_name1 ,a.dev_code dev_code1,b.disc_row_no,b.disc_col_no, b.sect_id,b.fiber_num,b.port01,b.side,a.area_code1
		FROM tn_facility g,tn_facility a ,tn_fiberdisc b
		WHERE 	
			g.dev_type='20'
			AND g.dev_id=a.pdev_id 
			AND g.area_code1='44130202'
			AND a.dev_id = b.dev_id 
			AND a.area_code1='44130202'
			ORDER BY a.dev_id
		) a
		LEFT JOIN tn_cable_section b
		ON a.sect_id = b.sect_id
		LEFT JOIN tn_twinfiber tf 
		ON a.port01=tf.port_code1 OR a.port01=tf.port_code2
		
		ORDER BY a.dev_id,a.side,a.disc_row_no,a.disc_col_no
		) AS sheet1 
		LEFT JOIN 
		(SELECT * FROM tn_lines WHERE line_type='02') AS sheet2 ON sheet1.port01=sheet2.acode
		LEFT JOIN 
		(SELECT * FROM tn_lines WHERE line_type='02') AS sheet3 ON sheet1.port01=sheet3.zcode
		GROUP BY sheet1.port01
	</select>
	
  <resultMap id="GResultMap" type="com.ycnet.frms.bean.FiberdiscGroup" >
    <id column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="dev_id" property="devId" jdbcType="BIGINT" />
    <result column="side" property="side" jdbcType="VARCHAR" />
    <result column="disc_num" property="discNum" jdbcType="INTEGER" />
    <result column="port_num" property="portNum" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
    <result column="group_desc" property="groupDesc" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_user" property="createUser" jdbcType="BIGINT"/>
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
    <result column="last_modify_user" property="lastModifyUser" jdbcType="BIGINT"/>
  </resultMap>
  
 <select id="FGlist" resultMap="GResultMap" parameterType="map" >
 SELECT *
    FROM tn_fiberdisc_group a
      WHERE a.dev_id = #{devId,jdbcType=BIGINT} and a.side=#{side,jdbcType=VARCHAR}
  </select>
  
    <resultMap id="FResultMap" type="com.ycnet.frms.bean.Fiberdisc" >
    <id column="fiber_disc_id" property="fiberDiscId" jdbcType="BIGINT" />
    <result column="dev_id" property="devId" jdbcType="BIGINT" />
    <result column="side" property="side" jdbcType="VARCHAR" />
    <result column="disc_row_no" property="discRowNo" jdbcType="BIGINT" />
    <result column="disc_code" property="discCode" jdbcType="VARCHAR"/>
    <result column="disc_col_no" property="discColNo" jdbcType="BIGINT" />
    <result column="port01" property="port01" jdbcType="VARCHAR" />
    <result column="sect_id" property="sectId" jdbcType="BIGINT" />
    <result column="fiber_num" property="fiberNum" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_user" property="createUser" jdbcType="BIGINT"/>
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
    <result column="last_modify_user" property="lastModifyUser" jdbcType="BIGINT"/>
    <result column="port_num" property="portNum" jdbcType="INTEGER"/>
   	<result column="dev_name" property="devName" jdbcType="VARCHAR" />
    <result column="details_port" property="detailsPort" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectFiber" resultMap="FResultMap">
      select 
    		*
      from tn_fiberdisc
      where  disc_code=#{code,jdbcType=VARCHAR}
   </select>
   
   <select id="selectByTnExport" resultMap="BaseResultMap" parameterType="com.ycnet.frms.bean.TnExport" >
    select 
    <include refid="Base_Column_List" />
    from tn_export2
    where
    	is_del='0' and c=#{c,jdbcType=VARCHAR} and d=#{d,jdbcType=VARCHAR} and f=#{f,jdbcType=VARCHAR}
			 
   order by id
      
  </select>
  
  <select id="selectTnExport01" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tn_export1
   	order by g,r,k
  </select>
  
  <select id="selectJTn" resultMap="BaseResultMap" >
    SELECT a.o,a.m 
    FROM (SELECT *FROM `tn_export` WHERE  n = '光缆接头' ) a 
    GROUP BY a.o,a.m  
    ORDER BY a.o 
  </select>
  
  <select id="selectJTp" resultMap="BaseResultMap" >
    SELECT a.q o,a.m 
    FROM (SELECT *FROM `tn_export` WHERE  p = '光缆接头' ) a 
    GROUP BY a.q,a.m  
    ORDER BY a.q
  </select>
  <!-- 查询数据表 -->
  <select id="queryList" resultMap="BaseResultMap">
  	SELECT DISTINCT a,b,c,d,e,f,g,h,i,m,
  			SUBSTRING_INDEX(j,'.',1) AS j,
  			SUBSTRING_INDEX(k,'.',1) AS k,
  			SUBSTRING_INDEX(l,'.',1) AS l  FROM `tn_export`
  	where e not like concat('%','-','%') and f not like concat('%','-','%')
  		  and h not like concat('%','-','%') and i not like concat('%','-','%')
  		  and e is not null and f is not null and h is not null and i is not null
  		  AND   SUBSTRING_INDEX(e,'.',1)&lt;200 AND  SUBSTRING_INDEX(f,'.',1) &lt; 50 AND SUBSTRING_INDEX(h,'.',1) &lt; 200
		  AND   SUBSTRING_INDEX(i,'.',1)&lt;50 and SUBSTRING_INDEX(h,'.',1)!=0
  </select>                      
  
  <select id="selectExport03" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export1
  </select>
  
  <select id="selectExport19" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_exportzhandian
  </select>
  
  <select id="selectExport20" resultMap="BaseResultMap" >
   	SELECT a.a,a.b,a.c,a.d,a.e,b.b
	FROM tn_export_fac a
	LEFT JOIN `tn_export_areas` b ON b.c=a.g
  </select>
  
  <select id="selectExport01" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export20180803_sz
  </select>
  
  <select id="selectExport11" resultMap="BaseResultMap" >
   SELECT a.a,a.b,a.c,a.d,a.e,a.f,a.g
	FROM tn_export_fxd a
  </select>
  
  <select id="selectExport00" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export_fsqlfxdqd
  </select>
  
  <select id="selectExportgl" resultMap="BaseResultMap" >
 	 SELECT a.a,a.b,a.c,a.d,a.e,a.f,a.g,a.h,a.i
 	FROM `tn_export_cablesection` a
  </select>
  
  <delete id="deleteBy00" parameterType="java.lang.Long" >
    delete from tn_export_fsqlfxdqd
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
   <delete id="deleteByGl" parameterType="java.lang.Long" >
    delete from tn_export_cablesection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <select id="selectExportguanglu" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export_fsgusj 
  </select>
  
  <select id="selectExport" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export20180806
  </select>
  
  <select id="selectExport04" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export_1220
    group by a 
  </select>
  
  <select id="selectExportWell" resultMap="BaseResultMap" >
   select 
    <include refid="Base_Column_List" />
    from tn_export_well 
    GROUP BY c
  </select>
  
  <select id="selectExportPiping" resultMap="BaseResultMap" >
	SELECT DISTINCT a.id, a.a, a.b, a.c, b.well_id d, a.e, a.f, c.well_id g, a.h, a.i, a.j, a.k, a.l, a.m, a.n, a.o, a.p, a.q, a.r,a.s,t,a.is_del 
	FROM tn_export_lofcllist a
	LEFT JOIN `tn_well` b ON b.well_name=a.d
	LEFT JOIN `tn_well` c ON c.well_name=a.g
	WHERE b.well_id IS NOT NULL AND c.well_id IS NOT NULL 
	ORDER BY a
  </select>
  
  <select id="selectExportSection" resultMap="BaseResultMap" >
   SELECT DISTINCT a.id, a.a, a.b,b.piping_sect_id c,d,c.sect_id e,c.zg_fiber_num f, a.g, a.h, a.i,d.well_id j,d.piping_id k, a.l, a.m, a.n, a.o, a.p, a.q, a.r,a.s,t,a.is_del
	FROM `tn_export_glcsgd` a
	LEFT JOIN `tn_piping_section` b ON b.piping_name=a.c
	LEFT JOIN `tn_piping` d ON d.piping_sect_id=b.piping_sect_id
	LEFT JOIN `tn_cable_section` c ON c.zg_sec_name=a.f
	WHERE c.sect_id IS NOT NULL AND b.piping_sect_id IS NOT NULL   
  </select>
  
  <select id="queryRouteText" resultMap="BaseResultMap">
  	select 
    SUBSTRING_INDEX(a,'.',1) AS a,b,c,IFNULL(SUBSTRING_INDEX(d,'.',1),'') AS d,e,f,g,h,i
    from tn_export_cs
  </select>
  
  <select id="pdhcopy" resultMap="BaseResultMap">
  	SELECT k.a a,k.b b ,REPLACE(k.c,'"','') c FROM (
	SELECT id,a,b,CONCAT(c,IF(d IS NULL,'',CONCAT(',',d)),IF(e IS NULL,'',CONCAT(',',e)),IF(f IS NULL,'',CONCAT(',',f)),IF(g IS NULL,'',CONCAT(',',g)),IF(h IS NULL,'',CONCAT(',',h)),
	IF(i IS NULL,'',CONCAT(',',i)),IF(j IS NULL,'',CONCAT(',',j)),IF(k IS NULL,'',CONCAT(',',k)),IF(l IS NULL,'',CONCAT(',',l)),IF(m IS NULL,'',CONCAT(',',m)),IF(n IS NULL,'',CONCAT(',',n)),
	IF(o IS NULL,'',CONCAT(',',o)),IF(p IS NULL,'',CONCAT(',',p)),IF(q IS NULL,'',CONCAT(',',q)),IF(r IS NULL,'',CONCAT(',',r)),IF(s IS NULL,'',CONCAT(',',s)),IF(t IS NULL,'',CONCAT(',',t)))c
	FROM `tn_export_pdh_copy`) k
  </select>
  
  <select id="selectExportAreaCode" resultMap="BaseResultMap">
  	SELECT a.dev_id id,c.area_code a FROM tn_facility a
	LEFT JOIN `tn_export_0323_gj` b ON b.a=a.dev_desc
	LEFT JOIN `tn_areas` c ON c.area_name=b.c
	WHERE a.org_id=16 AND a.area_code1='440604' AND a.dev_type='01' AND b.id IS NOT NULL AND a.dev_desc LIKE '%.0' 
  </select>
</mapper>